@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>

<address>
    Sam's Dog Store<br />
    Lincoln, Nebraska<br />
    <abbr title="Phone">P:</abbr>
    402-888-8888
</address>

<address>
    <strong>Support:</strong> <a href="mailto:sg630912@southeast.edu">Sam@SamsDogStore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sg630912@southeast.edu">Marketing@SamsDogStore.com</a>
</address>

