
@{
    ViewData["Title"] = "Dogs";
}

<h2>Dogs</h2>

<img src="~/images/rottweiler.jpg" alt="Rottweiler" width="500" class="img-responsive" />

<br />

<br />

<img src="~/images/goldenLabrador.jpg" alt="Golden Labrador" width="500" class="img-responsive" />

<br />

<br />

<img src="~/images/pitbull.jpg" alt="Pitbull" width="500" class="img-responsive" />

@*Citations For Pictures Used

    Rottweiler
    images.app.goo.gl/Y2GVVpR6UrEPmyBs8.

    Golden Labrador
    images.app.goo.gl/2TDDELRAyFft8R8bA.

    Pitbull
    images.app.goo.gl/RSLBB5o7MMHC9tBTA. *@