
@{
    ViewData["Title"] = "Dogs Pending";
}

<br />

<h1>Daisy</h1>

<img src="~/images/secondGermanShepherd.jpg" alt="Upcoming German Shepherd" width="500" class="img-responsive" />

<br />

<br />

<p>Daisy is a perfect addition to the family home.</p>
<p>She is always searching for the next opportunity to join in on the family fun.</p>
<p>Unlike other dogs, she comes with a preloaded gift card to one of our favorite pet shops.</p>
<p>With one more week left on her training, Daisy soon will be put up for adoption.</p>

<br />

<br />

<h1>Champ</h1>

<img src="~/images/bassetHound.jpg" alt="Upcoming Basset Hound" width="500" class="img-responsive" />

<br />

<br />

<p>Champs personality has makes him very easy to take care of.</p>
<p>With Champs small stature, he is very easy to walk amoung other nessessary tasks.</p>
<p>Like some of our other dogs, Champ has been really easy to train so far.</p>
<p>With two more weeks left on his training, Champ soon will be put up for adoption.</p>

<br />

<br />

@*I need one more dog to add to this page as of minimum*@

@*<h1>David</h1>

<img src="~/images/pitbull.jpg" alt="Pitbull" width="500" class="img-responsive" />

<br />

<br />

<p>David has a very friendly personality.</p>
<p>Due to David's personality, he is great with other dogs.</p>
<p>If you have another dog, or if you want to go to lots of dog parks, this dog is for you.</p>
<p>When it came to training David, there was not much to do just like some of our other dogs due to his personality.</p>
<p>He is well mannered, groomed, and awaiting your affection in a good home.</p>*@

@*Citations For Pictures Used

    German Shepherd. images.app.goo.gl/Bt6B2bggM82n3kdNA.

    Basset Hound. images.app.goo.gl/SjcNGkE853TKZgJc7.

*@

