
@{
    ViewData["Title"] = "Dogs";
}

<br />

<h1>Bill</h1>

<img src="~/images/rottweiler.jpg" alt="Rottweiler" width="500" class="img-responsive" />

<br />

<br />

<p>Bill is a very happy and family friendly dog.</p>
<p>With lots of energy and playfulness, he will fit into any family setting.</p>
<p>Another thing keeping to keep in mind while considering Bill, is that our trainers have worked extensively with him.</p>
<p>He is well mannered, groomed, and awaiting your affection in a good home.</p>

<br />

<br />

<h1>Lila</h1>

<img src="~/images/goldenLabrador.jpg" alt="Golden Labrador" width="500" class="img-responsive" />

<br />

<br />

<p>Leela has a very laid-back personality.</p>
<p>She likes to take long naps outside in the shade, and is good at keeping people company.</p>
<p>When it came to training Leela, there was not much work to be done due to her personality.</p>
<p>She is well mannered, groomed, and awaiting your affection in a good home.</p>

<br />

<br />

<h1>David</h1>

<img src="~/images/pitbull.jpg" alt="Pitbull" width="500" class="img-responsive" />

<br />

<br />

<p>David has a very friendly personality.</p>
<p>Due to David's personality, he is great with other dogs.</p>
<p>If you have another dog, or if you want to go to lots of dog parks, this dog is for you.</p>
<p>When it came to training David, there was not much to do just like some of our other dogs due to his personality.</p>
<p>He is well mannered, groomed, and awaiting your affection in a good home.</p>

@*Citations For Pictures Used

    Rottweiler. images.app.goo.gl/Y2GVVpR6UrEPmyBs8.

    Golden Labrador. images.app.goo.gl/2TDDELRAyFft8R8bA.

    Pitbull. images.app.goo.gl/RSLBB5o7MMHC9tBTA. *@